* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

hr {color: gray;
    border-color: white;

}

.Food {
    background-color: blanchedalmond;
    
}

.Drink {
    background-color: lightblue;
}

.Dessert {
    background-color: lightpink;
}

.Menu {
    line-height: 30px;
}